

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul li {
    list-style: none;
}

.nav-title{
    font-weight: 800;
    font-size: 28px;
    color: rgb(13, 19, 33);
    margin-left: 150px;
}

.nav-btn{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    margin-left: 1046px;
    margin-right: 166px;
    border: 1px solid rgb(13, 19, 33);;
}

nav ul{
    display: flex;

}

.btn-2{
    border-radius: 8px;
    background:  rgb(13, 19, 33);;
    padding: 21px 24px 21px 24px;
    color: white;
    
}
.banner{
    background-image: url(../images/Hero-bg.png);
    max-width: auto;
    height: 652px;
    margin: 10px;
}
.img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 26px 630px 10px 630px;

   
}
.banner-content{
    text-align: center;
    margin-top: 100px;
    gap: 100px;
    font-size: 20px;
    font-weight: bolder;
}
.section-title{
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    color: rgb(13, 19, 33);
}
.about-bg{
    text-align: center;
    box-shadow: rgba(13, 19, 33, 0.02);
    margin-bottom: 50px;
    padding: 80px 97px 80px 97px; 
    margin-left: 70px;
    margin-right: 70px;
    
}